/* header style */
header {
    margin-top: 5px;
    margin-left: 20px;
    color: darkblue;
}

/* give image background for page */
body {
    margin-left: 20px;
    background-image: url("../images/admin.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*style for hint of table's*/
#hint_table{
    margin-top: 30px;
    margin-left: 20px;
    width: max-content;
    text-align: center;
    font-style: italic;
    color: darkblue;
}

/*2 tables together*/
.tables_together{
    float: left;
}
