<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link type="text/css" href="/css/index.css" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
</head>

<body>
<div id="main">
    <header>
        <h1>Do you want to buy the book?</h1>
        <h3><i>Register or log in your account now!</i></h3>
    </header>
    <div class="flex_layout">
        <div class="registration">
            <h2>Registration</h2>
            <div>
                <form th:action="@{/user/register}" method="post" th:object="${user_obj}">
                    <div>
                        <label for="user_name">Name</label>
                        <input id="user_name" th:field="*{name}" class="registration-login" type="text" name="name">
                    </div>
                    <div>
                        <label for="user_surname">Surname</label>
                        <input id="user_surname" th:field="*{surname}" class="registration-login" type="text" name="surname">
                    </div>
                    <div>
                        <label for="user_email">Email</label>
                        <input id="user_email" th:field="*{email}" class="registration-login" type="text" name="email">
                    </div>
                    <div>
                        <label for="user_password">Password</label>
                        <input id="user_password" th:field="*{password}" class="registration-login" type="password" name="password">
                    </div>
                    <p th:if="${errorAlias!='' && errorAlias.equals('registerError')}" style="color: red">User with this email already exist!</p>

                    <input type="submit" class="btn" value="Registration">
                </form>
            </div>
        </div>
        <div class="login">
            <h2>Login</h2>
            <div>
                <form action="#" method="post" th:object="${user_obj}">
                    <label for="email">Email</label>
                    <input id="email" th:field="*{email}" class="registration-login" type="email" placeholder="Type your email">
                    <label for="password">Password</label>
                    <input id="password" th:field="*{password}" class="registration-login" type="password" placeholder="Type your password">
                    <div class="form-group">
                        <label for="remember">Remember</label>
                        <input id="remember" class="checkmark" type="checkbox" name="remember-me" value="true"/>
                    </div>
                    <p th:if="${errorAlias!='' && errorAlias.equals('loginError')}" style="color: red">Invalid credentials!</p>
                    <button  class="btn" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="text">
        <h2>* The book is the best friend.<br>* Without the book, as without hands.<br>* From time immemorial the book has been raising humanity.</h2>
    </div>
</div>
</body>
</html>